* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

a {
    all: unset;
    cursor: pointer;
}

body {
    display: flex;
    flex-direction: column;
    height: 100dvh; /* full viewport height */
    margin: 0;
    padding: 2rem;
    gap: 2rem;
}

/* HEADER  */
header {
    gap: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sub-main {
    flex: 1;
    display: flex;
    gap: 2rem;
}

.timer-section-content {
    width: 33.33%;
    border: 1px solid #e0e0e0;
    padding: 2rem;
    border-radius: 50px;
}

@media (max-width: 1024px) {
    header {
        flex-direction: column;
        gap: 2rem;
        align-items: flex-start;
    }

    .sub-main {
        flex-direction: column;
    }

    .timer-section-content {
        width: 100%;
    }
}